body {
    background: url("https://images.unsplash.com/photo-1580894894513-541e068a3e2b?ixid=MXwxMjA3fDB8MHxzZWFyY2h8N3x8cHJvamVjdHMlMjBjb2Rpbmd8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#black {
    background-color: black;
    color: white;
    opacity: 0.89; 
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

#text {
    color: black;
}

.btn-outline-dark {
    color: white;
}
